/* Reset default margin and padding*/
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Navigation Bar */
.navbar{
    position:fixed;/*Makes it stay on top while scrolling*/
    top:0;
    left:0;
    width:90%;
    height:5vh;
    background-color:teal;
    color:orange;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    z-index:1000;/* ensures navbar stays above all elements*/
}
.nav-links{
    list-style:none;
    display: flex;
}
.nav-links li{
    margin-left:20px;
}
.nav-links a {
    color:white;
    text-decoration:none;
    font-weight:bold;
}
.nav-links a{
    color:orange;
}
/*Hero Section*/
.hero{
    height:100vh;/*full screen height*/
    display:flex;
    justify-content:center;
    text-align: center;
    align-items:center;
    padding-top: 30px;/* to prevent text hiding under navbar*/
}
.hero h1{
    font-size:3rem;
    margin-bottom:10px
}
.hero p{
    font-size:1rem;
    margin-bottom:20px;
}