/* Navigation Bar */
.navbar{
    position:fixed;/*Makes it stay on top while scrolling*/
    top:0;
    left:0;
    width:90%;
    height:5vh;
    background-color:teal;
    color:orange;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    z-index:1000;/* ensures navbar stays above all elements*/
}
.nav-links{
    list-style:none;
    display: flex;
}
.nav-links li{
    margin-left:20px;
}
.nav-links a {
    color:white;
    text-decoration:none;
    font-weight:bold;
}
.nav-links a{
    color:orange;
}

/*Basic page stylingg*/
body{
font-family:Aial, sans-serif;
background-color: #f4f4f4;
height: 100vh;
display: flex;
justify-content: center;
align-items: top;
margin:0;
padding-top: 70px;/* to prevent text hiding under navbar*/
}
/*Form container*/
form{
    width: 350px;
    background: white;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
/*Page heading*/
h1,h2{
    text-align:center;
    color: #333;
}
/*Contact form container*/
form{
    max-width: 1000px;
    margin: 30px auto;
    background: white;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
/*Label style*/
label{
    display: block;
    margin-bottom:6px;
    font-weight: bold;
    color: #444;
}
/*Input fields*/
input[type="text"],
input[type="email"],
input[type="phonenumber"],
textarea{
    width:50%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
}
/*Make textarea bigger*/
textarea{
    height:120px;
    resize: vetical;
}
/*submit button */
button,
input[type="submit"]{width:50%;
    background-color: #0073e6;
    color:white;
    padding: 12px;
    border:none;
    border-radius:6px;
    font-size: 16px;
    cursor:pointer;
    transition: 0.3s ease;
}
/*Hover effect*/
button:hover,
input[type="submit"]:hover {
    background-color: #005bb5;
}
/*For mobile*/
@media(max-width: 480px){
    body{
        padding:15px;
    }
}
